In [ ]:
'''
This is my first project in my Udacity Nanodegree Program on Data Science entitled "Write A Data Science Blog Post".
It is aimed at analyzing a dataset of my choice following three chosen questions as guides.
In this case, I am analyzing Seattle AirBnB data and the guide questions are:

1. To determine the proportion of missing values and drop or fill them depending on their percieved effect.
2. To determine the listing id, date of listing and accommodation price that featured most and those that featured least.
3. To check if there is a correlation between each of the featured dates, prices and listing ids with other column variables. 
'''

In [7]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np


# 1. To determine the proportion of missing values and drop or fill them depending on their percieved effect

original_df = pd.read_csv('/Users/izzit/Desktop/All/udacity_tutorial/project1/seattle_data.csv')
original_df.shape

# The original dataset has 1,393,570 rows and 4 columns

first_fifty = original_df.head(50) # The first fifty records of the dataset

last_fifty = original_df.tail(50) # The last fifty records of the dataset

cols = original_df.columns # Columns in the dataset

# The columns of the datset are 'listing_id', 'date', 'available', 'price'

nan_cols = np.sum(original_df.isnull()) # Columns with missing values

# Only the 'price' column has missing values

price_nan = np.sum(original_df['price'].isnull()) # Missing values in price column

# The number of missing values in the price column is 459,028

nan_prop = price_nan/original_df.shape[0] # Proportion of missing values to the total entries

# The proportion of missing values to the total entries is 0.32938998399793334 (33% approx.)

df_without_nan = original_df.dropna(subset=['price'], axis=0) # Removing missing values
df_without_nan.shape

# The dataset without missing values, has 934,542 rows and 4 columns

(934542, 4)

In [6]:
# 2. To determine the listing id, date of listing and accommodation price that featured most and those that featured least.

# 2a. listing id

listing_id_count_df = df_without_nan['listing_id'].value_counts() # Gives the number of times each listing id featured
listing_id_count_df.shape[0] # Total number of rows = 3723
# From the above lines of code, the listing ids that appeared the highest number of times, featured 365 times each.
# The listing ids that appeared the least number of times, featured only 1 time each.
# Also, the total number of the different listing ids is 3723.

# 2ai. Highest-featured listing ids
highest_listing_id_count = np.sum(df_without_nan['listing_id'].value_counts() == 365) # Sum of the different listing ids that featured most
# From the above line of code, there are 678 different listing ids that featured for the highest number of times (ie, 365 times) each.

col_reset_df = (df_without_nan['listing_id'].value_counts() == 365).reset_index() # Resetting the column names
col_reset_df.rename(columns={'index': 'listing_id', 'listing_id': 'available'}, inplace=True) # Reassigning column names
col_reset_df

only_listing_id_df = col_reset_df.drop('available', axis=1) # Dropping the 'available' cloumn to have only the listing id column

only_highest_listing_id_df = only_listing_id_df.iloc[0:highest_listing_id_count] # Dataframe of only the listing ids that featured the highest number of times

# Breaking the 678 entries into lists of 60 each, for easier visualization
listing1 = list(only_highest_listing_id_df['listing_id'].iloc[0:60])
listing2 = list(only_highest_listing_id_df['listing_id'].iloc[60:120])
listing3 = list(only_highest_listing_id_df['listing_id'].iloc[120:180])
listing4 = list(only_highest_listing_id_df['listing_id'].iloc[180:240])
listing5 = list(only_highest_listing_id_df['listing_id'].iloc[240:300])
listing6 = list(only_highest_listing_id_df['listing_id'].iloc[300:360])
listing7 = list(only_highest_listing_id_df['listing_id'].iloc[360:420])
listing8 = list(only_highest_listing_id_df['listing_id'].iloc[420:480])
listing9 = list(only_highest_listing_id_df['listing_id'].iloc[480:540])
listing10 = list(only_highest_listing_id_df['listing_id'].iloc[540:600])
listing11 = list(only_highest_listing_id_df['listing_id'].iloc[600:660])
listing12 = list(only_highest_listing_id_df['listing_id'].iloc[660:678])

# First batch of the listing ids with 60 rows and 6 columns, for esier visualization
final_listing_id_df1 = DataFrame({'listing_id_0_60' : Series(listing1), 'listing_id_60_120' : Series(listing2), 
                                 'listing_id_120_180' : Series(listing3), 'listing_id_180_240' : Series(listing4), 
                                 'listing_id_240_300' : Series(listing5), 'listing_id_300_360' : Series(listing6)})

final_listing_id_df1

# Second batch of the listing ids with 60 rows and 6 columns, for esier visualization
final_listing_id_df2 = DataFrame({'listing_id_360_420' : Series(listing7), 'listing_id_420_480' : Series(listing8), 
                                 'listing_id_480_540' : Series(listing9), 'listing_id_540_600' : Series(listing10), 
                                 'listing_id_600_660' : Series(listing11), 'listing_id_660_678' : Series(listing12)})
final_listing_id_df2


# 2aii. Least-featured listing ids
least_listing_id_count = np.sum(df_without_nan['listing_id'].value_counts() == 1) # Sum of the different listing ids that featured least
# From the above line of code, there are 7 different listing ids that featured for the least number of times (ie, 1 time)

least_listing_df = listing_id_count_df.tail(7) # Dataframe of the 7 least-featured listing ids

In [171]:
# 2a. listing id (contd.)
# To filter out any listing id and see how many times it featured, please use the function below

def listings(first_row, sec_row):
    
    '''
    This function gives a listing id or a set of listing ids with the number of times they featured in the dataframe.
    It takes in a range of row positions from 0 to 3723, to filter out the listing ids.
    
    INPUT:
        1. first_row: The first row position of choice. It must be an integer of a lesser value than sec_row.
        2. sec_row: The second row position of choice. It must be an integer of a greater value than first_row.
        
    OUTPUT:
        The output is a list of listing ids that fall within the chosen range of rows, with the number of times each id 
        features in the dataframe.
    '''
    
    if first_row < 0 or sec_row > listing_id_count_df.shape[0]:
        return 'The range is 0 to {} inclusive.'.format(listing_id_count_df.shape[0])
    if first_row > sec_row:
        return 'first_row must not be greater than sec_row.'
    else: 
        return listing_id_count_df.iloc[first_row:sec_row]


a = listings(-5, 9) # Use-case example

In [167]:
# 2b. date

date_count_df = df_without_nan['date'].value_counts() # Gives the number of times each date featured
date_count_df.shape[0] # Total number of rows = 365
# From the above lines of code, the date that appeared the highest number of times, featured 2,922 times and that is 2017-01-01. 
# In other words, maximum number of listings per day was 2,922.
# The date that appeared the least number of times, featured 1,735 times and that is 2016-01-04. 
# In other words, minimum number of listings per day was 1,735.
# Also, the total number of the different dates that featured, is 365.

In [166]:
# 2b. date
# To filter out any date and see how many times it featured, please use the function below

def dates(first_row, sec_row):
    
    '''
    This function gives a date or a set of dates with the number of times they featured in the dataframe.
    It takes in a range of row positions from 0 to 365, to filter out the dates.
    
    INPUT:
        1. first_row: The first row position of choice. It must be an integer of a lesser value than sec_row.
        2. sec_row: The second row position of choice. It must be an integer of a greater value than first_row.
        
    OUTPUT:
        The output is a list of dates that fall within the chosen range of rows, with the number of times each date 
        features in the dataframe.
    '''
    
    if first_row < 0 or sec_row > date_count_df.shape[0]:
        return 'The range is 0 to {} inclusive.'.format(date_count_df.shape[0])
    if first_row > sec_row:
        return 'first_row must not be greater than sec_row.'
    else: 
        return date_count_df.iloc[first_row:sec_row]


b = dates(-1, 366) # Use-case example

In [181]:
# 2c. price

# 2ci. Price with highest number of occurences
price_count_df = df_without_nan['price'].value_counts() # Gives the number of times each price featured
price_count_df.shape[0] # Total number of rows = 669
# From the above lines of code, the price that appeared the highest number of times, featured 36,646 times and that is $150.00. 
# In other words, the most listed accommodations are those that cost $150.00 per night.
# Those that featured for the least number of times, featured for only 1 time.
# Also, the total number of the different prices that featured, is 669.


# To filter out any set of prices by row ranges, please use the function below

def prices(first_row, sec_row):
    
    '''
    This function gives a list of prices with the number of times they featured in the dataframe.
    It takes in a range of row positions from 0 to 669, to filter out the prices.
    
    INPUT:
        1. first_row: The first row position of choice. It must be an integer of a lesser value than sec_row.
        2. sec_row: The second row position of choice. It must be an integer of a greater value than first_row.
        
    OUTPUT:
        The output is a list of prices with their individual frequency of feature in the dataframe.
    '''
    
    if first_row < 0 or sec_row > price_count_df.shape[0]:
        return 'Your range must be 0 to {} inclusive.'.format(price_count_df.shape[0])
    if first_row > sec_row:
        return 'first_row must not be greater than sec_row.'
    else: 
        return price_count_df.iloc[first_row:sec_row]


c1 = prices(-2, 669) # Use-case example

# 2cii. Prices with lowest number of occurences
least_price_count = np.sum(df_without_nan['price'].value_counts() == 1) # Sum of the different prices that featured least
# From the above line of code, the prices that featured least (ie,for only 1 time each) are 66 in total.

# To filter out the least-featured prices by row ranges, please use the function below

def leastPrices(first_row, sec_row):
    
    '''
    This function gives, at a glance, only the prices that featured for the least number of times (ie, only 1 time) in the 
    dataframe.
    It takes in a range of row positions from 0 to 66, to filter out the prices.
    
    INPUT:
        1. first_row: The first row position of choice. It must be an integer of a lesser value than sec_row.
        2. sec_row: The second row position of choice. It must be an integer of a greater value than first_row.
        
    OUTPUT:
        The output is a list of prices that featured the least (ie, only 1 time each) in the dataframe.
    '''
    
    if first_row < 0 or sec_row > least_price_count:
        return 'Your range must be 0 to {} inclusive.'.format(least_price_count)
    if first_row > sec_row:
        return 'first_row must not be greater than sec_row.'
    else: 
        return price_count_df.tail(least_price_count).iloc[first_row:sec_row]


c2 = leastPrices(8, 6) # Use-case example

In [180]:
# 3. Correlation between one column and other columns

# 3ai. 'listing_id' column and others

# First determine the range of values you need to input by using the function below
def listIdRange(list_id):
    
    '''
    This function determines the range to use to filter out a dataframe of the listing id, together with other columns.
    It takes a valid listing id as input and outputs a range of row values to be input in the function in the next cell
    called 'listPlusOthers'.
    
    INPUT:
        1. list_id: A valid listing id from any of the dataframes that have been cleaned of missing values 
        (e.g. listing_id_count_df)
    
    OUTPUT:
        Output is a range of values that can be input, inclusive of the boundary values.
    '''
    listing_id_with_others = df_without_nan.loc[df_without_nan['listing_id'] == list_id, ['listing_id', 'date', 'price']]
    list_length = listing_id_with_others.shape[0]
    
    if list_length == 0:
        return 'Please input a valid listing_id.'
    else:
        return 'Your range is 0 - {}.'.format(list_length)


d1 = listIdRange(4993710) # Use-case example

In [151]:
# 3aii. 'listing_id' column and others in a range

# Now generate a dataframe covering your range of choice

def listPlusOthers(list_id, first_row, sec_row):
    
    '''
    This function is further to the above function called 'listIdRange'. It gives a dataframe of a selected range of rows
    of a particular chosen listing id, together with other columns for possible comparison.
    It takes a valid listing id, starting row number and ending row number as inputs and outputs a dataframe of 'listing_id',
    'date' and 'price'.
    
    INPUT.
        1. list_id: A valid listing id from any of the dataframes that have been cleaned of missing values 
        (e.g. date_count_df)
        2. first_row: The starting row number.
        3. sec_row: The ending row number.
    
    OUTPUT:
        Output is a dataframe of the chosen listing id, date and price, covering a range of the starting row number and the 
        ending row number.
    '''
    
    listing_id_with_others = df_without_nan.loc[df_without_nan['listing_id'] == list_id, ['listing_id', 'date', 'price']] # The needed columns and number of rows
    list_length = listing_id_with_others.shape[0]
    
    if list_length == 0:
        return 'Please input a valid listing_id.'
    elif first_row < 0 or sec_row > list_length:
        return 'Your range must be 0 to {} inclusive.'.format(list_length)
    elif first_row > sec_row:
        return 'first_row must not be greater than sec_row.'
    else:
        listing_id_with_others = listing_id_with_others.iloc[first_row:sec_row] # The needed columns and number of rows
        col_reset_listing_id_df = listing_id_with_others.reset_index() # Resetting the column names
        col_reset_listing_id_df.rename(columns={'index': 'serial_no', 'listing_id': 'listing_id', 'date': 'date', 'price': 'price'}, inplace=True) # Reassigning column names
        return col_reset_listing_id_df


d2 = listPlusOthers(4993710, 0, 365) # Use case example

In [10]:
# 3bi. 'date' column and others

# First determine the range of values you need to input by using the function below
def dateRange(aDate):
    
    '''
    This function determines the range to use to filter out a dataframe of the date, together with other columns.
    It takes a valid date as input and outputs a range of row values to be input in the function in the next cell
    called 'datePlusOthers'.
    
    INPUT.
        1. aDate: A valid date in the format 'yyyy-mm-dd', from any of the dataframes that have been cleaned of missing values 
        (e.g. date_count_df).
    
    OUTPUT:
        Output is a range of values that can be input, inclusive of the boundary values.
    '''
    date_with_others = df_without_nan.loc[df_without_nan['date'] == aDate, ['date', 'listing_id', 'price']]
    date_length = date_with_others.shape[0]
    
    if date_length == 0:
        return 'Please input a valid date.'
    else:
        return 'Your range is 0 - {}.'.format(date_length)


e1 = dateRange('2016-12-25') # Use-case example
e1

'Your range is 0 - 2829.'

In [9]:
# 3bii. 'date' column and others in a range

# Now generate a dataframe covering your range of choice

def datePlusOthers(aDate, first_row, sec_row):
    
    '''
    This function is further to the above function called 'dateRange'. It gives a dataframe of a selected range of rows
    of a particular chosen date, together with other columns for possible comparison.
    It takes a valid date, starting row number and ending row number as inputs and outputs a dataframe of 'date',
    'listing_id' and 'price'.
    
    INPUT.
        1. aDate: A valid date from any of the dataframes that have been cleaned of missing values 
        (e.g. date_count_df)
        2. first_row: The starting row number.
        3. sec_row: The ending row number.
    
    OUTPUT:
        Output is a dataframe of the chosen date, listing id and price, covering a range of the starting row number and the 
        ending row number.
    '''
    
    date_with_others = df_without_nan.loc[df_without_nan['date'] == aDate, ['date', 'listing_id', 'price']] # The needed columns and number of rows
    date_length = date_with_others.shape[0]
    
    if date_length == 0:
        return 'Please input a valid date.'
    elif first_row < 0 or sec_row > date_length:
        return 'Your range must be 0 to {} inclusive.'.format(date_length)
    elif first_row > sec_row:
        return 'first_row must not be greater than sec_row.'
    else:
        date_with_others = date_with_others.iloc[first_row:sec_row] # The needed columns and number of rows
        col_reset_date_df = date_with_others.reset_index() # Resetting the column names
        col_reset_date_df.rename(columns={'index': 'serial_no', 'date': 'date', 'listing_id': 'listing_id', 'price': 'price'}, inplace=True) # Reassigning column names
        return col_reset_date_df


e2 = datePlusOthers('2016-12-25', 0, 5) # Use case example
e2

   serial_no        date  listing_id      price
0        356  2016-12-25      241032     $85.00
1        721  2016-12-25      953595    $222.00
2       1086  2016-12-25     3308979  $1,650.00
3       1451  2016-12-25     7421966    $100.00
4       1816  2016-12-25      278830    $450.00

In [178]:
# 3ci. 'price' column and others

# First determine the range of values you need to input by using the function below
def priceRange(price):
    
    '''
    This function determines the range to use to filter out a dataframe of the price, together with other columns.
    It takes a valid price as input and outputs a range of row values to be input in the function in the next cell
    called 'pricePlusOthers'.
    
    INPUT.
        1. price: A valid price in the format '$85.00' (for instance), from any of the dataframes that have been cleaned of missing values 
        (e.g. price_count_df).
    
    OUTPUT:
        Output is a range of values that can be input, inclusive of the boundary values.
    '''
    price_with_others = df_without_nan.loc[df_without_nan['price'] == price, ['price', 'date', 'listing_id']]
    price_length = price_with_others.shape[0]
    
    if price_length == 0:
        return 'Please input a valid price.'
    else:
        return 'Your range is 0 - {}.'.format(price_length)


f1 = priceRange('$85.00') # Use-case example

In [179]:
# 3cii. 'price' column and others in a range

# Now generate a dataframe covering your range of choice

def pricePlusOthers(price, first_row, sec_row):
    
    '''
    This function is further to the above function called 'priceRange'. It gives a dataframe of a selected range of rows
    of a particular chosen price, together with other columns for possible comparison.
    It takes a valid price, starting row number and ending row number as inputs and outputs a dataframe of 'price',
    'listing_id' and 'date'.
    
    INPUT.
        1. price: A valid price from any of the dataframes that have been cleaned of missing values 
        (e.g. price_count_df)
        2. first_row: The starting row number.
        3. sec_row: The ending row number.
    
    OUTPUT:
        Output is a dataframe of the chosen price, listing id and date, covering a range of the starting row number and the 
        ending row number.
    '''
    
    price_with_others = df_without_nan.loc[df_without_nan['price'] == price, ['price', 'date', 'listing_id']] # The needed columns and number of rows
    price_length = price_with_others.shape[0]
    
    if price_length == 0:
        return 'Please input a valid price.'
    elif first_row < 0 or sec_row > price_length:
        return 'Your range must be 0 to {} inclusive.'.format(price_length)
    elif first_row > sec_row:
        return 'first_row must not be greater than sec_row.'
    else:
        price_with_others = price_with_others.iloc[first_row:sec_row] # The needed columns and number of rows
        col_reset_price_df = price_with_others.reset_index() # Resetting the column names
        col_reset_price_df.rename(columns={'index': 'serial_no', 'price': 'price', 'date': 'date', 'listing_id': 'listing_id'}, inplace=True) # Reassigning column names
        return col_reset_price_df


f2 = pricePlusOthers('$85.00', 0, 5) # Use case example